@import 'colors'

.contact
    padding: 45px 20px 48px
    .contactInner
        .map
            width: 100%
            height: 360px
            background-color: $eerieBlack
            margin:
                bottom: 37px
        .data
            h1
                margin-bottom: 25px
            p
                margin-bottom: 18px
            a
                margin-top: 12px