@import 'colors'

.fix-fix
    width: 100%

.fix-bar
    position: sticky
    bottom: 0
    z-index: 100
    padding: 14px 52px 16px
    box-sizing: border-box
    background-color: $mexicanPink
    width: 100%
    p,
    a
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-items: center
        font-size: 15px
        text-align: center
        text-transform: uppercase
        .whatsappLink
            display: flex
            justify-content: center
            align-items: center
            img
                margin-left: 6px
                margin-right: 6px
                margin-bottom: 1px
                width: 17px
    .close
        position: absolute
        margin: auto
        top: 0
        right: 20px
        bottom: 0
        border: solid 2px
        border-color: white
        border-radius: 5px
        width: 25px
        height: 25px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        color: white
        transition: all ease-in-out 0.2s
        &:hover
            // background-color: black
            border-color: black
            color: black
    &.closed
        // transition: all ease 0.2s
        bottom: -80px
        position: fixed
    // .transition
    //     transition: all ease 0.5s
