@import 'colors'

.footer
    .footer-inner
        .brands
            .brand
                img
            .certified
                a
                    img
        .credits-wrapper
            .rrss
                a
                    img
            .credits
                p
                    span
                    a


.footer
    width: 100%
    padding: 33px 20px 40px
    background-color: $eerieBlack
    box-sizing: border-box
    .footer-inner
        .brands
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 60px
            .brand
                display: flex
                justify-content: flex-start
                align-items: center
                img
                    height: 64px
            .certified
                display: flex
                justify-content: flex-end
                align-items: center
                a
                    img
                        width: 100px
        .credits-wrapper
            text-align: center
            .rrss
                margin-bottom: 18px
                display: flex
                justify-content: center
                align-items: center
                a
                    margin: 0 5px
                    img
                        width: 32px
            .credits
                p
                    font-size: 14px
                    text-align: center
                    span
                        opacity: 0.6
                    a
                        opacity: 1
                        color: white

@media (min-width:768px)
    .footer
        padding: 38px 6vw 42px
        .footer-inner
            .brands
                .brand
                    img
                .certified
                    a
                        img
            .credits-wrapper
                display: flex
                justify-content: space-between
                align-items: center
                .rrss
                    margin-bottom: 0
                    a
                        margin: 0 5px 0 0
                        img
                .credits
                    p
                        span
                        a

@media (min-width: 1200px)
    .footer
        padding: 38px 8vw 42px
        .footer-inner
            .brands
                .brand
                    img
                .certified
                    a
                        img
            .credits-wrapper
                // display: flex
                // justify-content: space-between
                // align-items: center
                .rrss
                    // margin-bottom: 0
                    a
                        // margin: 0 5px 0 0
                        img
                .credits
                    p
                        span
                        a

@media (min-width: 1400px)
    .footer
        padding: 38px 0 42px
        .footer-inner
            margin: 
                left: auto
                right: auto
            max-width: 1160px
            .brands
                .brand
                    img
                .certified
                    a
                        img
            .credits-wrapper
                // display: flex
                // justify-content: space-between
                // align-items: center
                .rrss
                    // margin-bottom: 0
                    a
                        // margin: 0 5px 0 0
                        img
                .credits
                    p
                        span
                        a