@import 'colors'

.footer
    .footer-inner
        .brands
            .brand
                img
            .certified
                a
                    img
        .credits-wrapper
            .rrss
                a
                    img
            .credits
                p
                    span
                    a

.footer
    width: 100%
    padding: 33px 20px 40px
    background-color: $eerieBlack
    box-sizing: border-box
    .footer-inner
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        margin-bottom: 32px
        .brands
            width: 100%
            display: flex
            align-items: center
            gap: 20px
            .brand
                display: flex
                justify-content: flex-start
                align-items: center
                img
                    height: 56px
            .certified
                display: flex
                justify-content: flex-end
                align-items: center
                a
                    img
                        height: 40px
        .credits-wrapper
            .rrss
                // margin-bottom: 18px
                display: flex
                align-items: center
                gap: 8px
                a
                    img
                        width: 32px
    .credits
        p
            font-size: 14px
            line-height: 140%
            text-align: center
            span
                opacity: 0.6
            a
                opacity: 1
                color: white

@media (min-width: 768px)
    .footer
        padding: 38px 6vw 42px
        .footer-inner
            margin-bottom: 38px
            .brands
                gap: 26px
                .brand
                    img
                        height: 64px
                .certified
                    a
                        img
            .credits-wrapper
                .rrss
                    gap: 10px
                    a
                        img
        .credits
            p
                span
                a

@media (min-width: 1200px)
    .footer
        padding: 38px 8vw 36px
        .footer-inner
            .brands
                gap: 32px
                .brand
                    img
                        height: 72px
                .certified
                    a
                        img
                            height: 44px
            .credits-wrapper
                .rrss
                    gap: 12px
                    a
                        img
        .credits
            p
                span
                a

@media (min-width: 1400px)
    .footer
        padding: 38px 0 36px
        .footer-inner
            margin:
                left: auto
                right: auto
            max-width: 1160px
            .brands
                .brand
                    img
                .certified
                    a
                        img
            .credits-wrapper
                .rrss
                    a
                        img
        .credits
            p
                span
                a
