@import reset

// Colors
@import colors

.color-turquoiseBlue
  color: $turquoiseBlue

.color-mexicanPink
  color: $mexicanPink

// Set

body
  font-family: 'Poppins', sans-serif
  background-color: black
  color: white

.block-scroll
  overflow: hidden

@media (min-width: 1024px)
  .block-scroll
    overflow: visible

// Typo settings
p
  font-size: 16px
  line-height: 130%

a
  text-decoration: none

h1
  font-size: 32px
  letter-spacing: -0.02em
  font-weight: 800
  line-height: 100%
  text-transform: uppercase

@media (min-width: 920px)
  h1
    font-size: 36px

@media (min-width: 1200px)
  h1
    font-size: 42px

h2
  font-size: 30px
  letter-spacing: -0.02em
  font-weight: 800
  line-height: 100%
  text-transform: uppercase

@media (min-width: 920px)
  h2
    font-size: 32px

@media (min-width: 1200px)
  h2
    font-size: 34px


h3
  font-size: 26px
  letter-spacing: -0.02em
  line-height: 100%
  text-transform: uppercase

@media (min-width: 1200px)
  h3
    font-size: 30px

h4
  font-size: 21px
  letter-spacing: -0.02em
  line-height: 100%
  text-transform: uppercase

@media (min-width: 1200px)
  h4
    font-size: 24px

.regular
  font-weight: 400

strong,
.bold
  font-weight: 700

.italic
  font-style: italic

.pretitle
  font-size: 16px
  letter-spacing: -0.02em
  line-height: 110%

// Buttons
.button
  border: solid 1px
  padding: 12px 16px
  font-size: 13px
  font-weight: 700
  display: inline-flex
  align-items: center
  color: white
  border-color: white
  transition: all ease-in-out 0.3s
  border-radius: 4px
  svg
    margin-right: 8px
  &:hover
    svg
      fill: white
  &.pink
    color: $mexicanPink
    border-color: $mexicanPink
    background-color: transparent
    svg
      transition: all ease-in-out 0.3s
      path
        fill: $mexicanPink
    &:hover
      color: $eerieBlack
      background-color: $mexicanPink
      svg
        path
          fill: $eerieBlack
  &.turquoise
    color: $turquoiseBlue
    border-color: $turquoiseBlue
    &:hover
      color: $eerieBlack
      background-color: $turquoiseBlue

  @media (min-width: 1200px)
    .button
      // border: solid 1px
      // padding: 12px 16px
      font-size: 14px
      // font-weight: 700
      // display: inline-flex
      // align-items: center
      // color: white
      // border-color: white
      svg
        // margin-right: 8px
    