.info-card-data
    background-color: black
    padding: 28px 26px 30px
    border-radius: 10px
    .info-card-data-header
        margin-bottom: 16px
        h1
            line-height: 96%
        p
            font-size: 19px
            text-transform: uppercase
            letter-spacing: -0.02em
    .info-card-data-body
        p
            font-size: 16px
            line-height: 130%
            margin-bottom: 12px
            &:last-child
                margin-bottom: 0
        .price
            margin-top: 28px
            margin-bottom: 25px
            p
                font-size: 24px
                letter-spacing: -0.04em
                line-height: 110%
                font-weight: 600
                span
                    font-size: 16px
                    font-weight: 400
                    letter-spacing: 0
                    margin-left: 5px