@import './_colors'

.info-cards
    background-color: $eerieBlack
    display: grid
    grid-row-gap: 16px
    padding: 28px 20px

@media (min-width: 768px)
    .info-cards
        padding: 40px 6vw 50px
        grid-template-columns: repeat(2, minmax(0, 1fr))
        grid-column-gap: 16px
        grid-row-gap: 22px

@media (min-width: 920px)
    .info-cards

@media (min-width: 1200px)
    .info-cards
        padding: 48px 8vw 56px
        grid-column-gap: 20px
        grid-row-gap: 20px

@media (min-width: 1400px)
    .info-cards
        padding: 48px 9.4vw 56px