@import 'colors'

.membership-card
    background-color: black
    border-radius: 10px
    margin-bottom: 16px
    padding: 24px 22px 16px
    .membership-card-header
        margin-bottom: 36px
        p
            text-transform: uppercase
            letter-spacing: -0.02em
        h2
            font-style: italic
    .membership-card-info
        margin-bottom: 18px
        p
            color: $lightGray
    .membership-card-footer
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 9px
        flex-wrap: wrap
        gap: 14px
        .price
            display: flex
            align-items: center
            padding-bottom: 5px
            h4
                font-weight: 700
                margin-right: 4px
                span
    &.mDisplay
        &:nth-child(n+4)
            display: none

@media (min-width: 768px)
    .membership-card
        margin-bottom: 0
        padding: 26px 30px 18px
        .membership-card-header
            p
            h2
        .membership-card-info
            p
        .membership-card-footer
            .price
                h4
                    span
        &.mDisplay
            &:nth-child(n+4)

@media (min-width: 1280px)
    .membership-card
        padding: 28px 30px 20px
        .membership-card-header
            p
            h2
        .membership-card-info
            // margin-bottom: 28px
            p
        .membership-card-footer
            .price
                h4
                    span
            // &.notSummarized
            //     margin-top: 20px
        &.mDisplay
            &:nth-child(n+4)

.onIndex
    .membership-card
        background-color: $eerieBlack