@import colors

.memberships
    padding: 46px 20px 48px
    margin: 
        left: auto
        right: auto
    display: block
    .memberships-header
        text-align: center
        margin-bottom: 26px
        h1
    .memberships-cards
        margin-bottom: 28px     
    &>.button
        margin: auto
        text-align: center
        display: table
    &.onIndex
        .memberships-cards
            .membership-card
                &:nth-child(n+5)
                    display: none
                