@import colors

.memberships
    padding: 36px 20px 40px
    .memberships-header
        text-align: center
        margin-bottom: 26px
        h1
    .memberships-cards
        .membership-card
            background-color: $eerieBlack
            border-radius: 10px
            margin-bottom: 16px
            padding: 24px 22px
            .membership-card-header
                p
                h2
            .membership-card-info
                p
            .membership-card-footer
                .price
                    h4
                .button