@import './_colors'

.schedules
    .explanation
        .title
        .explanation-content
            p
                span
    .schedule-table
        .days
            .head
                h5
            .card
                .card-head
                    p.hour
                    p.discipline
                    .arrow
                        &.opened
                .card-memberships
                    p.membership
                        &.active
                    &.show

.schedules
    padding: 30px 20px
    background-color: $eerieBlack
    .explanation
        box-sizing: border-box
        background-color: $eerieBlackLight
        padding: 20px
        margin-bottom: 20px
        .title
            font-size: 16px
            font-weight: 800
            text-transform: uppercase
            letter-spacing: -0.02em
            margin-bottom: 6px
        .explanation-content
            p
                font-size: 15px
                text-transform: uppercase
                margin-top: 4px
                span
                    margin-right: 8px
                    color: $turquoiseBlue
    .schedule-table
        .days
            margin-bottom: 18px
            .head
                background-color: black
                border-radius: 4px
                margin-bottom: 6px
                padding: 16px 23px
                h5
                    text-transform: uppercase
                    font-weight: 800
                    letter-spacing: -0.02em
                    // font-size: 18px
                    font-size: 17px
                    color: $turquoiseBlue
                p
                    display: none
            .card
                background-color: black
                border-radius: 4px
                margin-bottom: 6px
                padding: 12px 23px 11px
                .card-head
                    display: flex
                    justify-content: space-between
                    align-items: center
                    width: 100%
                    // margin-bottom: 5px
                    p.hour
                        // width: 130px
                        width: 76px
                    p.discipline
                        width: 100%
                        font-weight: 700
                    .arrow
                        cursor: pointer
                        font-size: 14px
                        transform: rotate(90deg)
                        transition: all ease-in-out 0.3s
                        &.opened
                            transform: rotate(-90deg)
                .card-memberships
                    display: flex
                    justify-content: space-between
                    align-items: center
                    width: 100%
                    box-sizing: border-box
                    padding-right: 16%
                    overflow: hidden
                    margin-top: 5px
                    height: 0
                    transition: all ease-in-out 0.3s
                    opacity: 0
                    p.membership
                        font-size: 15px
                        color: $sonicSilver
                        &.active
                            color: $turquoiseBlue
                    &.show
                        transition: all ease-in-out 0.3s
                        height: 100%
                        opacity: 1

                &.span-10,
                &.span-11
                    display: none

@media (min-width: 768px)
    .schedules
        padding: 34px 6vw 44px
        .explanation
            .title
            .explanation-content
                display: grid
                grid-template-columns: repeat(3, 1fr)
                p
                    span
        .schedule-table
            display: grid
            grid-template-columns: repeat(2, minmax(0, 1fr))
            grid-column-gap: 14px
            .days
                margin-bottom: 0
                .head
                    h5
                .card
                    .card-head
                        p.hour
                        p.discipline
                        .arrow
                            &.opened
                    .card-memberships
                        p.membership
                            &.active
                        &.show
                    &.noContent
                        min-height: 26px
                        background-color: rgba(black,0.7)
                    &.span-2
                        min-height: 80px
                        align-items: flex-start
                        padding:
                            top: 14px
                            bottom: 10px
                    &.span-3
                        min-height: 135px
                    &.span-4
                        min-height: 190px
                    &.span-5
                        min-height: 245px
                    &.span-6
                        min-height: 300px
                    &.span-7
                        min-height: 355px
                    &.span-8
                        min-height: 410px
                    &.span-10
                        min-height: 519px
                        display: inherit
                    &.span-11
                        min-height: 574px
                        display: inherit

@media (min-width: 1200px)
    .schedules
        padding: 34px 8vw 44px
        .explanation
            .title
            .explanation-content
                // display: grid
                // grid-template-columns: repeat(3, 1fr)
                p
                    span
        .schedule-table
            // display: grid
            // grid-template-columns: repeat(2, minmax(0, 1fr))
            // grid-column-gap: 14px
            .days
                // margin-bottom: 0
                .head
                    display: flex
                    justify-content: space-between
                    align-items: center
                    h5
                    p
                        display: inherit
                        font-size: 16px
                        text-transform: uppercase
                        color: $mexicanPink
                .card
                    display: flex
                    justify-content: space-between
                    padding: 12px 26px 12px 23px
                    .card-head
                        p.hour
                        p.discipline
                        .arrow
                            display: none
                            &.opened
                    .card-memberships
                        height: auto
                        opacity: 1
                        text-align: right
                        padding-right: 0
                        margin-top: 0
                        p.membership
                            &.active
                        &.show
                    &.noContent
                        min-height: 20px
                    &.span-2
                        min-height: 72px
                    &.span-3
                        min-height: 122px
                    &.span-4
                        min-height: 173px
                    &.span-5
                        min-height: 225px
                    &.span-6
                        min-height: 275px
                    &.span-7
                        min-height: 325px
                    &.span-8
                        min-height: 377px
                    &.span-10
                        min-height: 478px
                    &.span-11
                        min-height: 518px

@media (min-width: 1400px)
    .schedules
        padding: 40px 0 50px
        .explanation
            max-width: 1160px
            margin:
                left: auto
                right: auto
            .title
            .explanation-content
                p
                    span
        .schedule-table
            max-width: 1160px
            margin:
                left: auto
                right: auto
            .days
                .head
                    h5
                .card
                    .card-head
                        p.hour
                        p.discipline
                        .arrow
                            &.opened
                    .card-memberships
                        p.membership
                            &.active
                        &.show
