.scheduleCTA
    text-align: center
    padding: 160px 14vw
    background-image: url(../images/back-schedulesCTA.png)
    background-position: center
    background-size: cover
    h1
        margin: 
            bottom: 16px
    p
        margin: 
            bottom: 21px
    .button

@media (min-width: 768px)
    .scheduleCTA
        padding: 190px 14vw 140px
        h1
        p
        .button

@media (min-width: 1400px)
    .scheduleCTA
        padding: 220px 14vw 170px
        h1
        p
        .button