.scheduleCTA
    text-align: center
    padding: 160px 14vw
    background-image: url(../images/back-schedulesCTA.png)
    background-position: center
    background-size: cover
    h1
        margin: 
            bottom: 16px
    p
        max-width: 520px
        margin: 
            left: auto
            right: auto
            bottom: 21px
    .button

@media (min-width: 768px)
    .scheduleCTA
        padding: 190px 18vw 140px
        h1
        p
        .button

@media (min-width: 920px)
    .scheduleCTA
        padding: 190px 20vw 140px
        h1
        p
        .button

@media (min-width: 1200px)
    .scheduleCTA
        padding: 190px 26vw 140px
        h1
        p
        .button

@media (min-width: 1400px)
    .scheduleCTA
        padding: 220px 26vw 170px
        h1
        p
        .button